@import '../../../theme/index.less';

.EducationTitle{
  margin: 20px auto;
  font-weight: 900;
  text-align: center;

  .content{
    position: relative;
    span{
      width: 100%;
      height: 50%;
      background:linear-gradient(270deg,rgba(241,137,37,0.1) 0%,rgba(241,137,37,0.5) 100%);
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.EducationCont{
  text-indent: 2rem;
  text-align:justify;
}
h4{
  font-size:13px;
  font-weight:bold;
  margin: 17px 0 10px 0;
}
.chujie{
  margin-bottom: 0;
}
.EdcontBox{
  text-align:justify;
  p{
    margin-bottom: 0;
  }
}
.listUl{
  li{
    padding: 14px 0;
    border-bottom: 1px solid @color_gray;
    a{
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #F18925;
    }

    .LiCont{
      width: 90%;
      display: inline-block;
    }
  }
}

