@import '../../../theme/index.less';
.contentBox{
  width: 100%;
  border-bottom:10px solid #F5F5F5;
  padding: 16px 16px 13px 16px;
  position: relative;
  margin-top: 20px;
/*  .auditBox{
    width: 100%;
    height: 87px;
    background-image: url("../../../assets/account/find_audit_img1@2x.png");
    background-size: 100% 100%;
  }*/
  .auditImg{
    width: 100%;
    margin: 10px 0 13px 0;
  }
  p{
    margin: 0;
  }
  span{
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 18px;
    color: @color_fff;
    font-weight: bold;
  }
}
.contP{
  font-size:13px;
  font-weight:400;
  color:rgba(51,51,51,1);

}
