@import '../../../theme/index.less';

.Organization{
  margin: 20px auto;
  font-weight: 900;
  text-align: center;
  .content{
    position: relative;
    span{
      width: 100%;
      height: 50%;
      background:linear-gradient(270deg,rgba(241,137,37,0.1) 0%,rgba(241,137,37,0.5) 100%);
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
.OrganizationBox{
  p{
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  .title{
        color: @color_gray;
        display: inline-block;
    white-space:nowrap;
  }
  .cont{
   display: block;
    text-align:justify;
  }
}
/*股东*/
.shareholder{
  width: 100%;
  td{
    width: 50%;
    border: 1px solid @color_gray;
    padding: 11px 0 11px 12px;
    span{
      text-align: left;
    }
  }
}
.organizationImg{
  width: 100%;
}

.congye{
  width: 100%;
  td{
    width: 30%;
    border: 1px solid @color_gray;
    padding: 11px 0 11px 12px;
  }
}
.zongshu{
span{
  margin-left: 148px;
}

}
.renshu{
  text-align: center;

}
