@import '../../../theme/index.less';
.OrganizationBox{
.Organization{
    margin:  auto;
    padding: 20px 0 13px ;
    font-weight: 900;
    text-align: center;
    font-size: 12px;
  .content{
      position: relative;
    span{
      width: 100%;
      height: 50%;
      background:linear-gradient(270deg,rgba(241,137,37,0.1) 0%,rgba(241,137,37,0.5) 100%);
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
  .personnel{
    font-size: 12px;
    p{
      margin-bottom: 10px;
    }
  }
  .CongYeGk{
    padding: 20px 0 14px ;
    font-size:11px;
    font-weight:400;
    color:rgba(136,136,136,1);
  }
.OrganizationBoxCont{
    font-size: 12px;
    overflow: hidden;
  p{
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    overflow: hidden;
  }
  .cont{
      display: block;
      text-align:justify;
      font-size:12px;
      font-weight:400;
      color:rgba(51,51,51,1);
  }
  .titleF{
    display: inline-block;
    float: left;
    word-break:keep-all;
    color: #888888;
  }
  .contF{
    display:inline-block;
    float: left;
    text-align: justify;
    font-size:12px;
    font-weight:400;
    color:rgba(51,51,51,1);
  }
}
.title{
    font-size:12px;
    font-weight:400;
    color:rgba(136,136,136,1);
    display: inline-block;
    white-space:nowrap;
}
/*股东*/
.shareholder{
    width: 100%;
    font-size: 11px;
  td:nth-child(1){
    font-size:11px;
    font-weight:400;
    color:rgba(136,136,136,1);
  }
  td{
      width: 50%;
      border: 1px solid #eaeaea;
      padding: 11px 11px 11px 12px;
      font-size:11px;
      font-weight:400;
      color:rgba(51,51,51,1);
    span{
      text-align: left;
    }
  }
}
.zuzhi{
    font-size:11px;
    font-weight:400;
    color:rgba(51,51,51,1);
}
.organizationImg{
    width: 100%;
}
.congye{
    width: 100%;
    td{
      width: 30%;
      border: 1px solid #eaeaea;
      padding: 11px 0 11px 12px;
    }
    .congyeTd2{
        color:rgba(136,136,136,1);
      }
}
.zongshu{
    span{
      margin-left: 73%;
    }
}
.renshu{
  text-align: center;
}
.fenzhi{
  font-size:11px;
  font-weight:400;
  color:rgba(51,51,51,1);
  margin: 0;
}
.official{
  font-size: 12px;
  .weibo{
    margin-bottom: 0;
    .weibotitle{
      font-size:12px;
      font-weight:400;
      color:rgba(136,136,136,1);
    }
    .weibocont{
      font-size:12px;
      font-weight:400;
      color:rgba(51,51,51,1);
    }
  }
}
}
