.backRedColor{
  background:url("../../assets/account/systemsafety.png");
  background-size: 100% 100%;

}
.backBlueColor{
  background:url("../../assets/account/gradeprotection.png");
  background-size: 100% 100%;

}
.imgBackground{
  font-size: 16px;
  height: 100px;
  color:rgba(255,255,255,1);
  font-weight: 400;
  padding: 13px 0 0 13px;
  .title{
    font-size: 15px;
    margin: 0;
  }
  .compyName{

  }
}
