@import '../../theme/index.less';

.detail{

  padding: 15px;

  .head{

    h1{
      font-size:18px;text-align: center;

    }
    .info{
      margin: 0;
      font-size: 12px;text-align: center;
      color: @color_888;
      span{
        margin: 0 5px;
      }
    }
  }

  .body{
    padding: 10px 0;
    p{
      margin-bottom:30px;
      text-indent: 2em;
    }
    img{
      max-width:100%;
      height:auto;
    }
  }

  .foot{

  }

}
