@import '../../theme/index.less';

.detail{

  .head{
    text-align: center;
    border-bottom: 1px solid #F4F4F4;
    h1{
      font-size:20px;

    }
    .info{
      margin: 20px 0 30px;
      font-size: 14px;
      color: @color_888
    }
  }

  .body{
    padding: 20px 0;
    p{
      margin-bottom:30px;
    }
    img{
      max-width:100%;
      height:auto;
    }
  }

  .foot{

  }

}
