@import '../../theme/index.less';

.detail{

  .head{
    margin-bottom: 10px;
    padding: 12px 15px;
    height: 48px;
    border-bottom: 1px solid #E5E5E5;
    position:relative;

    img{
      display:inline-block;
      width:auto;
      height:20px;
      float:left;
    }

    h1{
      margin-left:130px;
      margin-bottom: 0;
      font-size:18px;
      font-weight:normal;
      line-height:20px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .body{

  }

}
