@media screen and ( max-width: 768px ) {
  .BankdepositorBox{
    width: 100%;
    background-image: url("../../assets/Bankdepositor/Compress_bank_app_bg@2x.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
@media screen and ( max-width: 550px ) {
  .BankdepositorBox{
    width: 100%;
    background-image: url("../../assets/Bankdepositor/Compress_bank_app_bg@2x.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
@media screen and ( max-width: 360px ) {
  .BankdepositorBox{
    width: 100%;
    background-image: url("../../assets/Bankdepositor/Compress_bank_app_bg@2x.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
@media screen and ( max-width: 320px ){
 .BankdepositorBox{
   width: 100%;
   background-image: url("../../assets/Bankdepositor/Compress_bank_app_bg@2x.jpg");
   background-size: 100% 100%;
   background-repeat: no-repeat;
 }
}
