.electronicWin{width: 92%;margin: 0 auto;}
.electronic{
    h1{ margin-bottom: 0;}    
    .electronicTop{font-size: 0;img{width: 100%;}} 
    .cfca{background: url(../../assets/electronic/app_bg_02.jpg) no-repeat center; background-size: 100% 100%; }
    .cfcaWord{background: url(../../assets/electronic/app_frame1.png) no-repeat left center;  background-size: 100% 100%; padding:4%;
     h1 {background: url(../../assets/electronic/app_redline.png) no-repeat left bottom;  width: 52%;
    background-size: contain;
    padding-bottom: 10px;   
    img{width: 100%;}  
     }
     p{font-size:15px;margin-top: 5%;
font-weight:400;
color:rgba(255,255,255,1);}
    }
    .cfcaBottom{font-size: 0;img{width: 100%;}}
    .dzqz{background: url(../../assets/electronic/app_bg_04.jpg) no-repeat center; background-size: 100% 100%;
    .cfcaWord{width: 100%; background: none;height: auto;
    
    }
    }
    .dzqzYsTop{font-size: 0;img{width: 100%;}}
    .dzqzYs{
        background: url(../../assets/electronic/app_bg_06.jpg) no-repeat center; background-size: 100% 100%;
        .cfcaWord{background: url(../../assets/electronic/app_frame2.png) no-repeat center;background-size: 100% 100%;
            h1{width: 85%;margin: 0 auto;background-size: 100%;
            img{margin: 0 auto; display: block;}
            }
            p{
                span{ color: #F76E79;}
            }
        }       
    }
    .dzqzYsBom{ background: url(../../assets/electronic/app_bg_07.jpg) no-repeat center;background-size: 100% 100%;overflow: hidden;
     ul{padding-bottom: 12%;overflow: hidden;}
    .dzqzYs1{}
    .dzqzYs2{margin-top: 45%;}
    .dzqzYs3{}
    li{text-align: center;width: 33%;float: left;margin-top: 8%;
    img{width: 90%;}
        span{display: block; margin-top: 1%;
        img{width: 70%;}
        }
        }
    }
}
