@import '../../../theme/index.less';
.Box{
  width: 100%;
  height: 100%;
  padding: 0 5%;
}
.title{
  text-align: center;
  font-size:15px;
  font-weight:600;
  margin: 20px 0;
}
.ImgBox{
  width: 100%;
  padding: 0 10%;
  .img{
    width: 100%;
  }
}
.stability{
  height:18px;
  font-size:18px;
  font-weight:bold;
  text-align: center;
  color:#F18925 ;
  margin: 27px 0;
}
.statement{
  margin: 0;
  font-weight: bold;
}
.btnP{
  display: flex;
  align-items: center;
  justify-content: space-around;
  Button{
    margin: 0 7px;
  }
}

