@import '../../../theme/index.less';

.container{

  .navTitle{
    padding: 27px 35px;
    font-size: 13px;
    margin: 0 auto;
    font-weight: 400;
    color: rgba(51,51,51,1);
  }

  :global {
    .ant-radio-group{
      display: block;
    }
    .ant-radio-wrapper{
      color: #888;
      font-size:15px;
      font-weight:500;
    }
    .ant-radio-wrapper-checked{
      color: #0D2F55;
      background: #f7faff;
    }
    span.ant-radio + *{
      display: inline-block;
      white-space:normal;
      word-wrap:break-word;
    }
  }

  .topicBox{

    padding: 15px 0;

    .number{
      padding: 0 15px;
    }

    .title{
      padding: 0 20px;
      font-size:18px;
      font-weight:400;
      color:rgba(13,47,85,1);
      line-height:1.7em;
    }

    .RadioBox{

      &:first-child .radioStyle span{
        border-top: 1px solid #e6e6e6;
      }

      .radioStyle{
        display: block;
        margin:0;

        span{
          display: block;
          padding: 15px 0;
          margin: 0 20px;
          text-indent: 0;
          border-bottom: 1px solid #e6e6e6;
        }

        :global{
          .ant-radio{
            display: none;
          }
        }

      }
    }

  }


  .Answer{

  }
  .Qid{
    font-size: 40px;
    font-weight:400;
    color:rgba(13,47,85,1);
    line-height:47px;
  }
  .AllQid{
    font-size:13px;
    font-weight:400;
    color:rgba(158,172,187,1);
    line-height:15px;
  }

  .answerTitle{
    height: 67px;
    line-height: 67px;
    font-size:18px;
    font-weight:400;
    color:rgba(13,47,85,1);
    border-bottom: 1px solid #ccc;
  }
  .RadioTitle{
    margin: 0;
  }

  .submit{
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin: 0;
    z-index: 999;
  }
  .btn{
    width: 100%;
  }
  .flipOver{
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: fixed;
    bottom:47px;
    left: 0px;
    font-size:15px;
    font-weight:400;
    color:rgba(241,137,37,1);
    text-align: center;
    background: white;
    margin: 0;
  }

}

