@import '../../../theme/index.less';
.PagesBox{
  width: 360px;
  height: 640px;
  background-image: url("../../../assets/platform/found_platform_bg@2x.png");
  background-size: 100% 100%;
  position: relative;
  padding-top: 10px;
}
.Pages{
  width: 100%;
  text-align: center;
}
.Page{
  padding: 15px 30px;
  color: @color_white;
  background-image: url("../../../assets/platform/found_platform_title@2x.png");
  background-size: 100% 100%;
}
