@import '../../../theme/index.less';
@media (min-width: 320px) and (max-width: 360px) {
.PagesBox{
  width: 100vw;
  height: 100vh;
  background-image: url("../../../assets/platform/found_platform_bg@2x.jpg");
  background-size: 100% 100%;
  position: relative;padding-top:15px;
}
.Pages{
  width: 100%;
  text-align: center;
}
.Page{
  padding: 3px 30px 10px;
  color: @color_white;
  background-image: url("../../../assets/platform/found_platform_title@2x.png");
  background-size: 100% 100%;
}
.ServeTitle{
  color: @color_white;
  text-align: center;
  //margin: 20px 0 5px 0;
  font-size: 18px;
  letter-spacing:3px
}
.Serve{
  color: @color_white;
  text-align: center;
  font-size: 15px;
  margin: 0;
}
.more{
  position: absolute;
  bottom: 10%;
  left: 30%;
  text-align: center;
  color: #7794FF;
}
.ServeBox{
  width: 100%;
  padding:0 5% 65px  5%;
  background-image: url("../../../assets/platform/found_platform_@2x.png");
  background-size:100% 50%;
  background-repeat: no-repeat;
  background-position: bottom;
}
.ServeImg{
  width:100%;
 }
}
@media (min-width: 360px){
.PagesBox{
  width: 100vw;
  height: 100vh;
  background-image: url("../../../assets/platform/found_platform_bg@2x.jpg");
  background-size: 100% 100%;
  position: relative;
}
.Pages{
  width: 100%;
  text-align: center;
}
.Page{
  padding: 3px 30px 10px;
  color: @color_white;
  background-image: url("../../../assets/platform/found_platform_title@2x.png");
  background-size: 100% 100%;
}
.ServeTitle{
  color: @color_white;
  text-align: center;
  //margin: 28px 0 10px 0;
  font-size: 23px;
  letter-spacing:3px
}
.Serve{
  color: @color_white;
  text-align: center;
  font-size: 17px;
}
.more{
  text-align: center;
  color: #7794FF;
}
.ServeBox{
  width: 100%;
  padding:0 5% 65px  5%;
  background-image: url("../../../assets/platform/found_platform_@2x.png");
  background-size:100% 50%;
  background-repeat: no-repeat;
  background-position: bottom;
}
.ServeImg{
  width:100%;
}
}



