@import '../../../theme/index.less';
@media (min-width: 320px) and (max-width:359px){
  .PagesBoxFour{
    width: 100vw;
    height: 100vh;
    background-image: url("../../../assets/platform/found_platform_bg@2x.jpg");
    background-size: 100% 100%;
    position: relative;
    padding-top:43px;
}
.Pages{
  width: 100%;
  text-align: center;
}
.Page{
  padding: 3px 30px 10px;
  color: @color_white;
  background-image: url("../../../assets/platform/found_platform_title@2x.png");
  background-size: 100% 100%;
}
.multipleTitle{
  text-align: center;
  color:@color_white ;
  font-size: 22px;
  letter-spacing:3px;
  margin-bottom: 0px;
  padding-bottom: 11px;
}
.multipleBox{
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: wrap;
  justify-content:space-around;
 padding-bottom:20px;
  div{
    width: 34%;
    margin-bottom:10px;
    p{
      text-align: center;
      color: @color_white;
      padding-top: 63%;
      margin: 0;
    }
  }
  .multipleImgBox1{
    background-image: url("../../../assets/platform/found_platform_pg41@2x.png");
    background-size:100%;
    background-position: center;
    background-repeat: no-repeat;
    p{
      font-size: 12px;
    }
  }
  .multipleImgBox2{
    background-image: url("../../../assets/platform/found_platform_pg42@2x.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    p{
      font-size: 12px;
    }
  }
  .multipleImgBox3{
    background-image: url("../../../assets/platform/found_platform_pg43@2x.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    p{
      font-size: 12px;
    }
  }
  .multipleImgBox4{
    background-image: url("../../../assets/platform/found_platform_pg44@2x.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    p{
      font-size: 12px;
    }
  }
}
.multipleContentBox{
  width: 90%;
  margin: auto;
  background:rgba(14,60,105,0.5);
  box-shadow:0 0 13px 0 rgba(83,195,249,1) inset;
  border-radius:7px;
  position: relative;
  color: @color_white;
  padding: 30px 33px;
  .multipleLt{
    width: 10%;
    position: absolute;
    top: 14px;
    left: 14px;
  }
  .multipleRt{
    width: 10%;
    position: absolute;
    top: 14px;
    right: 14px;
  }
  .multipleLb{
    width: 10%;
    position: absolute;
    bottom: 14px;
    left: 14px;
  }
  .multipleRb{
    width: 10%;
    position: absolute;
    bottom: 14px;
    right: 14px;
  }
  p{
    margin: 0;
    font-size: 12px;
  }
}
}
@media (min-width: 360px) and (max-width: 374px){
  .PagesBoxFour{
  width: 100vw;
  height: 100vh;
  background-image: url("../../../assets/platform/found_platform_bg@2x.jpg");
  background-size: 100% 100%;
  position: relative;
  padding-top:50px;
}
.Pages{
  width: 100%;
  text-align: center;
}
.Page{
  padding: 3px 30px 10px;
  color: @color_white;
  background-image: url("../../../assets/platform/found_platform_title@2x.png");
  background-size: 100% 100%;
  padding-top:15px;
}
.multipleTitle{
  text-align: center;
  color:@color_white ;
  font-size: 23px;
  padding: 0 0 10px;
  letter-spacing:3px;
  margin-bottom: 0;
}
.multipleBox{
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: wrap;
  justify-content:space-around;
  div{
    width: 35%;
    height: 113px;
    margin-bottom: 20px;
    p{
      text-align: center;
      color: @color_white;
      margin-top: 70%;
    }
  }
  .multipleImgBox1{
    background-image: url("../../../assets/platform/found_platform_pg41@2x.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .multipleImgBox2{
    background-image: url("../../../assets/platform/found_platform_pg42@2x.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .multipleImgBox3{
    background-image: url("../../../assets/platform/found_platform_pg43@2x.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .multipleImgBox4{
    background-image: url("../../../assets/platform/found_platform_pg44@2x.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.multipleContentBox{
  width: 90%;
  margin: auto;
  background:rgba(14,60,105,0.5);
  box-shadow:0px 0px 13px 0px rgba(83,195,249,1) inset;
  border-radius:7px;
  position: relative;
  color: @color_white;
  padding: 30px 33px;
  .multipleLt{
    width: 10%;
    position: absolute;
    top: 17px;
    left: 17px;
  }
  .multipleRt{
    width: 10%;
    position: absolute;
    top: 17px;
    right: 17px;
  }
  .multipleLb{
    width: 10%;
    position: absolute;
    bottom: 17px;
    left: 17px;
  }
  .multipleRb{
    width: 10%;
    position: absolute;
    bottom: 17px;
    right: 17px;
  }
  p{
    margin-bottom: 10px;
    font-size: 12px;
  }
}
}
@media (min-width: 375px){
  .PagesBoxFour{
    width: 100vw;
    height: 100vh;
    background-image: url("../../../assets/platform/found_platform_bg@2x.jpg");
    background-size: 100% 100%;
    position: relative;
    padding-top:50px;
  }
  .Pages{
    width: 100%;
    text-align: center;
  }
  .Page{
    padding: 3px 30px 10px;
    color: @color_white;
    background-image: url("../../../assets/platform/found_platform_title@2x.png");
    background-size: 100% 100%;padding-top:15px;
  }
  .multipleTitle{
    text-align: center;
    color:@color_white ;
    font-size: 23px;
    padding: 0 0 20px;
    letter-spacing:3px;
    margin-bottom: 0;
  }
  .multipleBox{
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: wrap;
    justify-content:space-around;
    padding-bottom: 20px;
    div{
      width: 35%;
      height: 113px;
      margin-bottom: 20px;
      p{
        text-align: center;
        color: @color_white;
        margin-top: 70%;
      }
    }
    .multipleImgBox1{
      background-image: url("../../../assets/platform/found_platform_pg41@2x.png");
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
    .multipleImgBox2{
      background-image: url("../../../assets/platform/found_platform_pg42@2x.png");
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
    .multipleImgBox3{
      background-image: url("../../../assets/platform/found_platform_pg43@2x.png");
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
    .multipleImgBox4{
      background-image: url("../../../assets/platform/found_platform_pg44@2x.png");
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .multipleContentBox{
    width: 90%;
    margin: auto;
    background:rgba(14,60,105,0.5);
    box-shadow:0px 0px 13px 0px rgba(83,195,249,1) inset;
    border-radius:7px;
    position: relative;
    color: @color_white;
    padding: 30px 33px;
    .multipleLt{
      width: 10%;
      position: absolute;
      top: 17px;
      left: 17px;
    }
    .multipleRt{
      width: 10%;
      position: absolute;
      top: 17px;
      right: 17px;
    }
    .multipleLb{
      width: 10%;
      position: absolute;
      bottom: 17px;
      left: 17px;
    }
    .multipleRb{
      width: 10%;
      position: absolute;
      bottom: 17px;
      right: 17px;
    }
    p{
      margin-bottom: 10px;
      font-size: 12px;
    }
  }
}

