@import '../../theme/index.less';

.container{

  margin-bottom:80px;

  .slide{
    float: left;
    width: 190px;
    margin-bottom:80px;
    padding: 30px 0;
    background: #fff;
    box-shadow: @box_shadow;
  }

  .content{
    margin-left: 210px;
  }

}
