.share{font-size: 0;
    .shareimg{width:100%;}
    .shareicon{
        width:30%;margin:0 auto;
        img{border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;}
    }
     .sharetip{background: url('../../assets/share/bask_red.png') center;background-size: contain;color: #fff;}
     .sharemoney{color: #333333;font-size: 16px;
     img{width: 30%;}
     }
     .shareword{color: #333333;font-size: 14px;text-align: center;}
     .sharemiddle{
         background: url('../../assets/share/bask_bg_02.jpg') top center;
     }
}
