.container{

  padding-bottom: 50px;

  .head{
    height: 0;
    padding-bottom: 60%;
    position: relative;
    .back{
      display: block;
      width: 40px;
      height: 40px;
      text-align: center;
      position: absolute;
      left: 5px;
      top: 5px;
      z-index: 9;
      i{
        margin: 10px;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
      }
    }
    .bg{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      .img{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        filter: blur(20px);
      }
      .glass{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(0,0,0,.6);
      }
      .thumb{
        width: 30%;
        height: 70%;
        position: absolute;
        left: 15px;
        bottom: 15px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .title{
        margin: 0;
        padding-right: 15px;
        color: #fff;
        font-size: 18px;
        position: absolute;
        left: 41.8%;
        top: 48px;
      }
      .price{
        margin: 0;
        color: #fff;
        font-size: 16px;
        position: absolute;
        left: 41.8%;
        bottom: 14px;
      }
    }
  }

  .body{
    padding: 20px 14px;

    h2{
      margin: 0;
      padding: 10px 0;
      font-size: 20px;
      font-weight:500;
      color:#353535;
      line-height:24px;
    }

    .date{
      margin-bottom: 30px;
      p{
        margin: 0;
        line-height:24px;
        font-size: 15px;
      }
    }
    .info{
      margin-bottom: 30px;
      position: relative;
      p{
        margin: 0;
        line-height:22px;
      }
      .place{
        margin-bottom: 5px;
        font-size: 15px;
      }
      .place_detail{
        color: #ABABAB;
      }
      .address{
        display: block;
        width: 38px;
        height: 38px;
        position: absolute;
        bottom: 2px;
        right: 0;
        img{
          width: 100%;
          height: auto;
        }
      }
    }
    .introduce{

      .content{
        p{
          margin-bottom: 20px;
          font-size: 16px;
          line-height: 1.8em;
        }
        img{
          display: block;
          margin: 0 auto;
          max-width:90%;
          height:auto;
        }
      }
    }

  }

  .foot{
    width: 100%;
    height: 48px;
    padding: 5px 14px;
    background: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99;
    a{
      display: block;
      margin: 0 auto;
      width:250px;
      height:38px;
      line-height: 38px;
      text-align: center;
      border-radius:21px;

      &.start{
        color: #353535;
        background:linear-gradient(90deg,rgba(255,223,0,1) 0%,rgba(255,188,0,1) 100%);
      }
      &.disabled{
        color: #ABABAB;
        background: #F3F4F3;
      }
    }
  }

}
