@import '../../../theme/index.less';

.record{

  .head{
    :global{
      .am-tabs-default-bar-tab{
        color: @color_888;
      }
      .am-tabs-default-bar-tab-active{
        color: #0D2F55;
      }
      .am-tabs-default-bar-underline{
        border-color: #0D2F55;
      }
    }
  }

}
