.head{
  height: 44px;
  padding: 10px;
  background: #fff;

  .logo{
    display:block;
    float:left;
    img{
      width:auto;
      height:24px;
    }
  }
  .account{
    display:block;
    float:right;
    i{
      font-size:24px;
      color: #333;
    }
  }
}
