@import '../../theme/index.less';

.result{
  text-align: center;

  img{
    margin-top:20%;
    max-width: 90%;
  }

  h1{
    margin:20px 0;
    font-size:18px;
    line-height: 1.5em;
  }

  .huibao{
    margin: 10px 0 20px;
    padding: 0 20px;
    overflow: hidden;
    p{
      float:left;
      width:50%;
      text-align:center;
      .sp1{
        display:block;
        color: @color_orange;
        font-size:18px;
      }
      .sp2{
        display:block;
        font-size:13px;
      }
    }
  }

  .amount{
    margin-bottom:20px;
    font-size:14px;
    color: #F18925;
  }

  .desc{
    margin-bottom:40px;
    font-size:14px;
    color: @color_gray
  }

  .btns{
    :global{
      .ant-btn{
        margin:10px;
      }
    }
  }

}
