@import '../../../theme/index.less';
.ReportDetailBox{
  :global(.highcharts-background){
    height: 300px;
  }
  h4{
    margin:  auto;
    font-size:15px;
    font-weight:bold;
    color:rgba(51,51,51,1);
    text-align: center;
    .content{
      position: relative;
      span{
        width: 100%;
        height: 50%;
        background:linear-gradient(270deg,rgba(241,137,37,0.1) 0%,rgba(241,137,37,0.5) 100%);
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
.ReportTitle{
  padding: 27px 0 17px;
}
.pandectBox{
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  .pandect{
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    p{
      margin: 0;
    }
    p:nth-child(1){
      font-weight:bold;
    }
    p:nth-child(2){
      color: #ccc;
    }
    .pandectImg{
      width: 40px;
      height: 40px;
      margin: 0 10px;
    }
  }
}
.ChinaBox{
  width: 90%;
  margin: auto;
  .ChinaImg{
    width: 100%;
    margin-bottom: 20px;
  }
}
.Ranking{
  width: 100%;
  display: flex;
  align-items: center;

  .RankingImg{
    width: 15px;
    height: 15px;
  }
  span{
    display: inline-block;
  }
  span:nth-child(1){
    width: 25px;
    text-align: center;
    margin-left: 25%;
  }
.province{
 width: 70px;
}
}
/*出借排行*/
.lendRanking{
  width: 100%;
  text-align: center;
  th{
    color: #cccc;
  }
 th ,td{
   border: 1px solid #e5e5e5;
   padding: 6px 0;
  }
  .lendImg{
    width: 15px;
    height: 15px;
  }
}

}
