@import '../../../theme/index.less';
.ReportDetailBox{
  :global(.highcharts-background){
    height: 300px;
  }
  h4{
    margin:  auto;
    font-size:15px;
    font-weight:bold;
    color:rgba(51,51,51,1);
    text-align: center;
    .content{
      position: relative;
      span{
        width: 100%;
        height: 50%;
        background:linear-gradient(270deg,rgba(241,137,37,0.1) 0%,rgba(241,137,37,0.5) 100%);
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
.ReportTitle{
  padding: 27px 0 17px;
}
.pandectBox{
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  .pandect{
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    p{
      margin: 0;
    }
    p:nth-child(1){
      font-weight:bold;
    }
    p:nth-child(2){
      color: #ccc;
    }
    .pandectImg{
      width: 40px;
      height: 40px;
      margin: 0 10px;
    }
  }
}
.ChinaBox{
  width: 90%;
  margin: auto;
  .ChinaImg{
    width: 100%;
    margin-bottom: 20px;
  }
  .areaTop5Box{
    position: relative;
    img{
      width: 14px;
      height: auto;
    }
    .areaTopNone{
      color: #ffffff;
    }
    .TopImgOne{
      position: absolute;
      top: 2%;
      left: 27%;
    }
    .TopImgTwo{
      position: absolute;
      top: 24%;
      left: 27%;
    }
    .TopImgThree{
      position: absolute;
      top: 45%;
      left: 27%;
    }
  }
}

.Ranking{
  width: 100%;
  display: flex;
  align-items: center;

  .RankingImg{
    width: 15px;
    height: 15px;
  }
  span{
    display: inline-block;
  }
  span:nth-child(1){
    width: 25px;
    text-align: center;
    margin-left: 25%;
  }
.province{
 width: 70px;
}
}
/*出借排行*/
  .lendRankingBox{
    position: relative;
    img{
      width: 15px;
      height: auto;
    }
    .TopImg1{
      position: absolute;
      top: 21%;
      left: 4%;
    }
    .TopImg2{
      position: absolute;
      top:38%;
      left: 4%;
    }
    .TopImg3{
      position: absolute;
      top:54%;
      left: 4%;
    }
    .lendRanking{
      width: 100%;
      text-align: center;
      th{
        color: #cccc;
      }
      th ,td{
        border: 1px solid #eaeaea;
        padding: 6px 0;
      }

      .TableNone{
        color: #FFFFFF;
      }

    }
  }
}
