body{background-color: #163C63;}
.download{height:100%;font-size: 0;
  img{width:100%;}
  .downloadImg{position: relative;
    .downloadImg1{    width: 60%;
      /* margin: 0 auto; */
      position: absolute;
      top: 0;
      text-align: center;
      left: 50%;
      margin-left: -30%;
    }
  }
}
